body {
  font-family: sans-serif;
  font-size: 16px;
}

h2, h3, h4, h5 {
  color: rgb(3, 27, 78);
}

/* NAVBAR */
.navbar {
  margin-bottom: 0;
  height: 65px;
  padding-top: 8px;
  padding-bottom: 8px;
}

a.navbar-brand {
  padding-top: 10px;
}

.navbar-brand img {
  height: 28px;
}

.navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #006AFF;
  height: 3px;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.nav>li>a {
  padding-left: 1px;
}

#bs-example-navbar-collapse-1 >.nav.navbar-nav {
  margin-left: 70px;
}

.navbar-right .btn.btn-default {
  color: #006AFF;
  border-color: #006AFF;
}

form.navbar-form.navbar-right {
  padding-left: 0;
}

/* JUMBOTRON */
.jumbotron {
  background-image: url("../img/sea.svg");
  height: calc(100%-65px);
  margin-top: 65px;
  margin-bottom: 0;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

form>button.btn.btn-default {
  width: 100%;
}

#Create-your-account {
  background-color: #579AFF;
}

form>button.btn.btn-default img {
  height: 20px;
  float: left;
}

.card p {
  font-size: 12px;
  margin-top: 15px;
}

.thumbnail {
  border: none;
  padding: 0;
  background-color: #F3F5F9;
}

/* BUSINESS LOGO SECTION */
.thumbnail img {
  margin: 0 auto;
}

/* DEPLOY SECTION */
.deploy-list ul {
  list-style: none;
  padding: 0;
}

.deploy-list ul li {
  border-left: 2px solid gray;
  padding: 5px;
}

.deploy-list ul li a {
  color: gray;
  text-decoration: none;
}

.deploy-list ul li:hover {
  border-left: 2px solid #006AFF;
}

/* DESIGNED FOR DEVELOPERS SECTION */
.page {
  width: 100%;
  margin-top: 100px;
}

.my-circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 1px solid #006AFF;
  display: inline-block;
  cursor: pointer;
}

.my-circle:hover {
  background-color: #006AFF;
}

.my-circle-full {
  background-color: #006AFF;
}

/* CUSTOMERS SERVICE SECTION */
.bg-map-blue {
  background-image: url("../img/bg-map.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #031B4E;
}

.bg-map-blue ul {
  list-style: none;
  padding: 0;
}

.location-server, .location-city, .test-speed {
  display: inline-block;
}

.location-server {
  width: 20%;
}

.location-city {
}

.test-speed {
  float: right;
  color: rgb(0, 215, 210);
}

.bg-map-blue ul>li {
  border-bottom: 1px solid #fff;
  padding-top: 10px;
}

.bg-map-blue ul>li:last-child {
  border: 0;
}


/* UTILITY */
.text-white {
  color: #fff;
}

.text-blue {
  color: #006AFF;
}

.text-dark-blue {
  color: rgb(3, 27, 78);
}

.text-gray {
  color: gray;
}

.mt-1 {
  margin-top: 2rem;
}

.mt-2 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: 6rem;
}

.mb-1 {
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 4rem;
}

.mb-3 {
  margin-bottom: 6rem;
}

.font-weight-bold {
  font-weight: bold;
}

.text-underscore {
  text-decoration: underline;
}

.bg-lightgray {
  background-color: #F3F5F9;
}

.my-arrow-right:after {
  content: ' \003E';
}



/* MEDIA QUERY */
@media all and (min-width: 768px) and (max-width: 991px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-nav, .navbar-right {
    display: none;
  }
}

 @media all and (min-width: 768px) {
  .deploy {
    margin-top: 30px;
  }
 }



 @media all and (min-width: 992px) {

 }
