body {
  font-family: sans-serif;
  font-size: 16px;
}

/* NAVBAR */
.navbar {
  margin-bottom: 0;
  height: 65px;
  padding-top: 8px;
  padding-bottom: 8px;
}

a.navbar-brand {
  padding-top: 10px;
}

.navbar-brand img {
  height: 28px;
}

.navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #006AFF;
  height: 3px;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.nav>li>a {
  padding-left: 1px;
}

#bs-example-navbar-collapse-1 >.nav.navbar-nav {
  margin-left: 70px;
}

.navbar-right .btn.btn-default {
  color: #006AFF;
  border-color: #006AFF;
}

form.navbar-form.navbar-right {
  padding-left: 0;
}

/* JUMBOTRON */
.jumbotron {
  background-image: url("../img/sea.svg");
  height: calc(100%-65px);
  margin-top: 65px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

form>button.btn.btn-default {
  width: 100%;
}

/* UTILITY */
.text-white {
  color: #fff;
}

.mt-1 {
  margin-top: 2rem;
}
.mt-2 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 3rem;
}


/* MEDIA QUERY */
@media all and (min-width: 768px) and (max-width: 991px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-nav, .navbar-right {
    display: none;
  }
}

 @media all and (min-width: 768px) {

 }



 @media all and (min-width: 992px) {

 }
